<app-header></app-header>

<div class="container">
    <div class="mb-3">
        <label for="formFile" class="form-label">Upload your video File</label>
        <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
    </div>
    <b>OR</b>
    <div class="mb-3">
        <label for="formUrl" class="form-label">Paste your video URL</label>
        <input class="form-control" type="text" id="formUrl">
    </div>

    <!--DRAG AND DROP FILE -->
    <div class="drop-zone">
        <span class="drop-zone__prompt">Drop file here or click to upload</span>
        <input type="file" id="formFile" name="formFile" class="drop-zone__input">
    </div>
</div>

<app-footer>

</app-footer>