<app-header></app-header>


<div class="container">
    <div style="padding: 15px;">
        <div>
            <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileSelected($event)">
                <div class="text-wrapper">
                    <div class="centered">
                        <input type="file" name="file" id="file" (change)="onFileSelected($any($event.target).files)" multiple>
                        <label for="file"><span class="textLink">Select your file</span> or Drop it here!</label>
                    </div>
                </div>
            </div>
            <br>

            <h5>Upload Progress:</h5>
            <mat-progress-bar mode="determinate" [value]=progress_value></mat-progress-bar>

        </div>
        <hr>
        <h3 mat-subheader>Files</h3>
        <div class="row fileItem" *ngFor="let f of files; let ind = index">
            <div class="col-sm-12 fileItemIconDiv" (click)="openConfirmDialog(ind);">
                <i class="fa-6x fileItemIcon"></i>
            </div>
            <div class="col-sm-12 fileItemText">
                <span>{{f.name}}</span>
            </div>
        </div>
        <hr *ngIf="(transcript | keyvalue)?.length">
        <div *ngIf="(transcript | keyvalue)?.length">
            <h3 mat-subheader>Transcript</h3>
            <div style="white-space:pre-wrap" *ngFor="let key of getSortedKeys(transcript)">
                <b><span>{{key}}:</span></b>
                <span>{{transcript[key]}}</span>
                <br>
            </div>
        </div>
        <hr *ngIf="summary.length > 0">
        <div *ngIf="summary.length > 0">
            <h3 mat-subheader>Summary</h3>
            <div style="white-space:pre-wrap" *ngFor="let line of summary">
                {{line}}
            </div>
        </div>
        <hr *ngIf="question.length > 0">
        <div *ngIf="question.length > 0">
            <h3 mat-subheader>Questions</h3>
            <div *ngFor="let mcqs of question">
                <!---MCQS for 1 keyword = mcqs-->
                <div style="white-space:pre-wrap" *ngFor="let q of mcqs">
                    <!---odd position question and har even position answer-->
                    <span *ngIf="q.length > 0">  {{q[0]}} </span>

                </div>
            </div>
        </div>
    </div>
</div>
<app-footer>

</app-footer>